@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .float {
        @keyframes orbit {
            0% {
                transform: rotate(0deg) translateX(100px) rotate(0deg);
            }
            100% {
                transform: rotate(360deg) translateX(100px) rotate(-360deg);
            }
        }
        animation: orbit 5s linear infinite;
    }
}
